@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm())
{
    <div>
        <label>Name</label>
        <input type="text" name="item"/>
    </div>
    <input type="text" value="@Model" hidden disabled />
    <input class="btn btn-success" type="submit" value="Add" />
}